/*Google font import*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 1;
    margin: 1;
    box-sizing: border-box;
}

/*General Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(20, 20, 20);
    font-family: 'Dosis',sans-serif;
}

/*Header*/
header {
    background-color: lightgoldenrodyellow;
}

/*Main Content*/
main {
    background-color: grey;
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: brown;
}