/*Google font import*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap') </style>

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #f0a76b98;
    font-family: 'Roboto',sans-serif;
    
   
}

/*Header*/
header {
    background-color: #ffffff;
    padding: 0 2rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px black;
}

header a{
    text-decoration: double;
    color:darkslateblue;
}
h1{
    font-family: 'Oswald' ,sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color:mediumvioletred;
}

/*Main Content*/
main {
    background-color: grey;
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: brown;
}