/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Inter:wght@100..900&display=swap')

* {
    padding: 2;
    margin: 2;
    box-sizing: border-box;
}

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: blue;
    font-family: 'Inter', sans-serif;

}

h1, h2, h3 {
    font-family: 'Bree serif', sans-serif;
    text-transform: capitalize;
    letter-spacing: 0px;
    color:darkblue;
}

/* Header */
header {
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 2px 2px grey;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}


header a {
    text-decoration:none;
    color: gray;
}

.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}


#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top:  5px;
}

#yoga {
    height: 700px;
    width: 100%;
    background: url("../images/women\ yoga\ fitnes.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color:rgba(255, 0, 85, 0.719);
    font-size: 150%;
    width: 70%;
    min-height: 200px;
    bottom: 30px;
    position: absolute;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 20px;

}

#cover-text > h2, #cover-text >h3 {
    color:whitesmoke;
    font-family:'Times New Roman', Times, serif;
}

/*benifits section*/


/* Reasons section */
#reasons {
    width: 100%;
    margin: 30px auto;
    
}

#reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 300%;
}

#health-benefits > div, {
    line-height: 20px;
    margin-bottom: 20px;
   

#benefits p {
    padding: 0 40px;
}

#benefits hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}


#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}
#yoga-poses-bg {
    background: url('../images/pexels-photo-917732.webp') no-repeat top center / cover;
    height: 30vw;
    width: 30vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 200px;
    min-height: 200px;
}
/* Footer */
#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 160%;
    padding: 5%;
    color: black;
}

/* Media query: tablets and larger (768px and above ) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 2rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 2rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 85px;
        margin: 0 1rem;
        display: none;
    }

    #logo a {
        width:50%;
        display:initial;

    }
    #health-benefits >div,mind-benefits>div {
        text-align: 70%;
    }
    #mind-benifits >div {
        text-align: end;
        align-self: :flex-end;
    }


    /* Main content */
    main {
        
        margin-top: 5px;
    }
    #cover-text {
        width: 300px;
        left:10px;
        bottom: 10px;
    }

        
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 2px solid #3a3a3a;
    }
}